apiVersion: astra.netapp.io/v1
kind: Backup
metadata:
{%- if name %}
  name: {{ name }}
{%- elif generateName %}
  generateName: {{ generateName }}
{%- endif %}
  namespace: astra-connector
spec:
  applicationRef: {{ appName }}
  appVaultRef: {{ appVaultName }}
{%- if snapshotName %}
  snapshotRef: {{ snapshotName }}
{%- endif %}
{%- if reclaimPolicy %}
  reclaimPolicy: {{ reclaimPolicy }}
{%- endif %}
