apiVersion: management.astra.netapp.io/v1alpha1
kind: AppVault
metadata:
  name: {{ bucketName }}
  namespace: neptune-system
spec:
  providerType: {{ providerType }}
  providerConfig:
{%- if accountName %}
    accountName: {{ accountName }}
{%- endif %}
    bucketName: {{ bucketName }}
{%- if endpoint %}
    endpoint: {{ endpoint }}
{%- endif %}
{%- if secure %}
    secure: {{ secure }}
{%- endif %}
  providerCredentials:
{{ providerCredentials }}
