apiVersion: management.astra.netapp.io/v1alpha1
kind: {{ kind }}Restore
metadata:
  name: {{ restoreName }}
  namespace: neptune-system
spec:
  appArchivePath: {{ appArchivePath }}
  appVaultRef: {{ appVaultRef }}
  namespaceMapping:
{{ namespaceMapping }}
---
apiVersion: management.astra.netapp.io/v1alpha1
kind: Application
metadata:
  name: {{ appName }}
  namespace: neptune-system
spec:
{{ appSpec }}
