apiVersion: astra.netapp.io/v1
kind: {{ kind }}Restore
metadata:
  generateName: {{ restoreName }}
  namespace: astra-connector
spec:
  appArchivePath: {{ appArchivePath }}
  appVaultRef: {{ appVaultRef }}
  namespaceMapping:
{{ namespaceMapping }}
...
---
apiVersion: astra.netapp.io/v1
kind: Application
metadata:
  name: {{ appName }}
  namespace: astra-connector
spec:
{{ appSpec }}
